@font-face {
    font-family: 'monserrat-regular';
    src:  url('../fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  @font-face {
    font-family: 'monserrat-bold';
    src:  url('../fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  @font-face {
    font-family: 'monserrat-medium';
    src:  url('../fonts/Montserrat-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  @font-face {
    font-family: 'fjalla one';
    src:  url('../fonts/FjallaOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }

html, body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'monserrat-regular';
}
a{
    text-decoration: none;
    color: #000000;
}
a, input, button{
    outline-color: transparent;
    outline: none;
}
ul, ul li{
    margin: 0;
    padding: 0;
    list-style: none;
}
div{
    display: block;
}
.bold{
    font-family: 'monserrat-bold';
}
.uppercase{
    text-transform: uppercase;
}
.container{
    max-width: 720px;
    width: calc(100% - 20px);
    margin: 0 auto;
    display: block;
}

.dark-theme{
    background-color: #141414 !important;
    color: #ffffff !important;
}

header{
    max-width: 720px;
    width: 100%;
    margin: 0 auto;
    display: block;
    color: #8E8E8E;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 28px;
}
header .active{
    color: #ffffff;
}
header .active i{
    position: relative;
}
header .active i::after{
    content: '';
    display: block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #F71736;
    position: absolute;
    right: -2px;
    top: 1px;
}
header div{
    display: inline-flex;
    vertical-align: middle;
}
header .menu, header .logo, header .right .search, header .right .calendar{
    margin: 0 10px;
}
header .menu, header .right .search{
    font-size: 25px;
}
header .logo img,
footer .logo img{
    max-width: 121px;
}

.right{
    float: right;
    display: table;
}
.pink-theme{
    background-color: #F71736;
    color: #ffffff;
}
.select{
    font-size: 14px;
    width: calc(100% - 32px);
    padding: 0 16px;
    display: table;
    height: 38px;
    border-radius: 5px;
    cursor: pointer;
}
.select span, .select i{
    display: table-cell;
    vertical-align: middle;
}
.select i{
    font-size: 26px;
    text-align: right;
}
.cont-menu-options{
    position: relative;
    overflow: hidden;
    height: 20px;
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    margin-top: 24px;
    margin-bottom: 12px;
}

.menu-options{
    position: absolute;
}
.menu-options li{
    display: table-cell;
    padding: 0 6px;
}
.menu-options li a{
    color: #8E8E8E;
    font-size: 14px;
}
.menu-options li a.active{
    color: #ffffff;
}
.active-1{
    transform: translate(0, 0);
    transition-duration: 0.5s;
}
.active-2{
    transform: translate(-8%, 0);
    transition-duration: 0.5s;
}
.active-3{
    transform: translate(-24%, 0);
    transition-duration: 0.5s;
}
.active-4{
    transform: translate(-36%, 0);
    transition-duration: 0.5s;
}
.active-5{
    transform: translate(-53%, 0);
    transition-duration: 0.5s;
}
.active-6{
    transform: translate(-67%, 0);
    transition-duration: 0.5s;
}
.active-7{
    transform: translate(-82%, 0);
    transition-duration: 0.5s;
}
.panel{
    max-width: 720px;
    width: 100%;
    background-color: #ffffff;
    color: #000000;
    display: block;
    margin: 0 auto;
    border-radius: 10px 10px 0 0;
}
.panel .select{
    width: calc(100% - 25px);
    padding: 0 5px 0 20px;
    font-family: 'fjalla one';
    -webkit-box-shadow: 0px 2px 4px 2px rgba(176,176,176,0.5);
-moz-box-shadow: 0px 2px 4px 2px rgba(176,176,176,0.5);
box-shadow: 0px 2px 4px 2px rgba(176,176,176,0.5);
}
.panel .select span{
    font-size: 12px;
    color: #949494;
}
.panel .select i{
    color: #949494;
}
}
.panel h3{
    text-transform: uppercase;
    color: #8E8E8E;
    font-family: 'monserrat-bold';
    font-size: 10px;
    padding: 10px 0;
    margin: 0;
}
.box-vs-1, .box-vs-2{
    display: table;
    width: 100%;
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
    margin-bottom: 8px;
    font-family: 'fjalla one';
    -webkit-box-shadow: 0px 2px 4px 2px rgba(176,176,176,0.5);
-moz-box-shadow: 0px 2px 4px 2px rgba(176,176,176,0.5);
box-shadow: 0px 2px 4px 2px rgba(176,176,176,0.5);
}
.box-vs-1 li{
    height: 40px;
    border-left: 1px solid #F3F3F3;
    display: table-cell;
    vertical-align: middle;
    font-size: 16px;
}
.box-vs-1 li:first-child{
    border-left: none;
}
.box-vs-1 li:nth-child(1) img,.box-vs-1 li:nth-child(5) img{
    width: 28px;
}
.box-vs-1 li:nth-child(3){
    background-color: #F3F3F3;
    font-size: 12px;
    color: #949494;
}
.box-vs-2{
    padding: 15px;
    width: calc(100% - 30px);
}
.box-vs-2 ul{
    display: table-cell;
    vertical-align: middle;
}
.box-vs-2 ul li{
    padding: 3px 0;
    font-size: 16px;
}
.box-vs-2 ul:first-child{
    text-align: left;
}
.box-vs-2 ul:first-child li img,.box-vs-2 ul:first-child li span{
    display: inline-block;
    vertical-align: middle;
}
.box-vs-2 ul:first-child li img{
    width: 28px;
}
.box-vs-2 ul:first-child li span{
    margin-left: 10px;
}
.box-vs-2 ul:last-child{
    font-size: 11px;
    color: #949494;
}

.cont-buttons{
    width: calc(100% - 10px);
    display: inline-flex;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.col3{
    display: inline-flex;
    width: 33.33%;
}
.cont-buttons .button{
    width: calc(100% - 10px);
    height: 37px;
    display: table;
    margin: 0 auto;
    font-size: 12px;
    font-family: 'fjalla one';
    text-transform: uppercase;
}
.cont-buttons .button span{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.cont-buttons .button{
    border-radius: 5px;
    color: #949494;
}
.cont-buttons .button.button1{
    background-color: #ffffff;
    border: 1px solid #F9F9F9;
}
.cont-buttons .button.button2{
    background-color: #F3F3F3;
    border: 1px solid #F3F3F3;
}
.cont-buttons .button.active{
    color: #ffffff;
    background: rgb(231,2,34);
background: linear-gradient(180deg, rgba(231,2,34,1) 0%, rgba(243,17,49,1) 35%, rgba(251,29,60,1) 100%);
}

.cont-suscription{
    margin: 0 auto;
    margin-top: 92px;
    max-width: 500px;
    width: calc(100% - 70px);
    display: block;
}
.cont-suscription h2{
    font-family: 'monserrat-bold';
    font-size: 12px;
    text-align: center;
}
.cont-suscription input{
    padding: 0 40px 0 20px;
    height: 32px;
    width: calc(100% - 60px);
    border-radius: 25px;
    border: none;
    background-color: #F3F3F3;
    font-family: 'fjalla one';
    -webkit-box-shadow: 0px 2px 4px 2px rgba(176,176,176,0.5);
-moz-box-shadow: 0px 2px 4px 2px rgba(176,176,176,0.5);
box-shadow: 0px 2px 4px 2px rgba(176,176,176,0.5);
}
.cont-input-suscription{
    position: relative;
    padding-bottom: 28px;
}
.cont-input-suscription::before{
    content: '';
    display: block;
    border-radius: 0 25px 25px 0;
    height: 32px;
    width: 30px;
    position: absolute;
    background-color: #F71736;
    right: 0;
}
.cont-input-suscription::after{
    content: "\e903";
    color: #ffffff;
    font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    font-family: 'icomoon' !important;

    font-size: 24px;
    line-height: 24px;
    position: absolute;
    right: 4px;
    top: 4px;
}

footer{
    background-color: #ffffff;
    max-width: 720px;
    display: block;
    margin: 0 auto;
}
footer .panel{
    padding: 22px 14px 18px 14px;
    width: calc(100% - 28px);
}
footer .head-footer{
    display: table;
    width: 100%;
}
footer .head-footer .logo,
footer .head-footer ul.social{
    display: inline-block;
    vertical-align: middle;
}
footer .head-footer ul.social{
    float: right;
}
footer ul.social li{
    display: table-cell;
}
footer ul.social li a{
    padding: 0 12px;
    color: #ffffff;
    font-size: 20px;
}
footer p{
    font-family: 'fjalla one';
    color: #868686;
    font-size: 10px;
    line-height: 16px;
    margin: 0;
    padding: 10px 0;
}
footer p a{
    color: #F71736;
}
footer ul.options-footer{
    text-transform: uppercase;
    color: #ffffff;
    font-size: 10px;
    font-family: 'fjalla one';
}
footer ul.options-footer li{
    display: inline-block;
    padding-right: 18px;
    margin-bottom: 12px;
}
footer ul.options-footer a{
    color: #ffffff;
}

.bg-modal{
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
.modal{
    background-color: #ffffff;
}
.modal.calendar{
    position: absolute;
    max-width: 600px;
    width: calc(100% - 68px);
    padding: 18px 14px;
    border-radius: 5px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.modal.calendar table{
    border: none;
    font-family: 'monserrat-bold';
    color: #1D1D1D;
    font-size: 14px;
    width: 100%;
    text-align: center;
}
.modal.calendar table td:last-child,
.modal.calendar table td:nth-child(2),
.modal.calendar table td:nth-child(3){
    border-left: transparent;
}
.modal.calendar table tr:nth-child(2) td,
.modal.calendar table tr:nth-child(3) td,
.modal.calendar table tr:nth-child(4) td,
.modal.calendar table tr:nth-child(5) td,
.modal.calendar table tr:nth-child(6) td
{
    border-top: transparent;
}
.modal.calendar table td{
    height: 60px;
    border: 1px solid #F3F3F3;
}
.modal.calendar table td:hover,
.modal.calendar table td.active{
    background-color: #F3F3F3;
}

.modal.optionsLiga{
    position: absolute;
    max-width: 268px;
    width: calc(100% - 48px);
    padding: 10px;
    border-radius: 10px;
    color: #000000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: 'monserrat-bold';
    font-size: 14px;
}
.modal.optionsLiga img{
    width: 32px;
}
.modal.optionsLiga ul{
    display: table;
    margin-bottom: 10px;
    cursor: pointer;
}
.modal.optionsLiga ul:last-child{
    margin-bottom: 0;
}
.modal.optionsLiga ul li{
    display: table-cell;
    vertical-align: middle;
}
.modal.optionsLiga ul li span{
    padding-left: 10px;
}

@media(min-width: 430px){
    .box-vs-2 ul:first-child {
      padding-left: 10%;
    }
}